.formCard {
  width: 500px;
  margin: 30px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 15px;
  align-items: center;
  background: #b7d2fc;
  border-radius: 8px;
}

.label {
  width: 150px;
  height: 35px;
  background: #0e0a4d;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  text-align: center;
}

.formColumnLeft {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 5px;
  align-items: center;
}

.formColumnRight .input {
  width: 270px;
  height: 30px;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  position: relative;
}

.formColumnRight .input:valid {
  border-color: #201a7c;
  color: #000000;
  box-shadow: 2px 2px 8px 1px #201a7c;
}

.formColumnRight .input:invalid {
  border-color: #6967ff;
  color: #000000;
  box-shadow: 2px 2px 8px 1px #6967ff;
}

.formColumnRight .text {
  margin-top: 10px;
  color: black;
}

.inputField {
  width: 280px;
  height: 22px;
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 5px;
}

.selectField {
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 8px;
}
