.createTittle {
  margin-top: 5px;
  margin-bottom: 5px;
}
.label {
  color: white;
  text-align: center;
  font-size: 19px;
  font-family: "comfortaa";
  text-align: center;
}

.buttonCreate {
  text-align: center;
  font-size: 20px;
  font-family: "comfortaa";
  text-align: center;
  font-weight: 100px;

  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  text-align: justify;
  font-size: 20px;
  font-family: "comfortaa";
  align-items: center;
}
