.title {
  font-family: "Poetsen One";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #8504a5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subTitle {
  color: #ab16e6;
  text-align: center;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 40;
  font-size: 40px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sTitle {
  text-align: center;
  font-family: "Carizo";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  margin-top: 2px;
  margin-bottom: 2px;
  grid-column: span 3;
}

.item {
  font-family: "cream DEMO";
  font-style: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.dItem {
  font-family: "comfortaa";
  font-style: bold;
  font-weight: 300;
  font-size: 15px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #030303;
}
