.formCardUpdate {
  width: 620px;
  padding: 10px;
  display: grid;
  grid-template-columns: 120px 450px;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
}
.formCardUpdate {
  width: 620px;
  padding: 10px;
  display: grid;
  grid-template-columns: 120px 450px;
  grid-template-rows: auto;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
}

.labelUpdate {
  width: 140px;
  height: 35px;
  background: #118e9e;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}

.columnLeftUpdate {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 8px;
  align-items: center;
}

.columnRightUpdate .inputFieldUpdate {
  width: 415px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid hsl(236, 92%, 66%);
  outline: none;
  transition: 200ms ease-in;
  padding-left: 1rem;
  margin-bottom: 10px;
  margin-left: 15px;
}

.columnRightUpdate .inputFieldUpdate:focus {
  border-bottom: 4px solid hsl(236, 92%, 66%);
  padding-top: 2px;
}

.columnRightUpdate .inputFieldUpdate::placeholder {
  color: hsl(236, 92%, 66%);
  opacity: 0.5;
}

.selectFieldUpdate {
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 8px;
}

.formButtons {
  width: 570px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  margin-bottom: -20px;
}

.selectFieldUpdate {
  width: 435px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 8px;
  margin-left: 15px;
  text-align: center;
}

.selectFieldUpdate:valid {
  border-color: #201a7c;
  color: #000000;
  box-shadow: 2px 2px 8px 1px #201a7c;
}

.selectFieldUpdate:invalid {
  border-color: #6967ff;
  color: #000000;
  box-shadow: 2px 2px 8px 1px #6967ff;
}

.selectFieldUpdate option {
  background-color: #fff;
  color: #000;
}

.selectFieldUpdate option:checked {
  background-color: #201a7c;
  color: #fff;
}
